.header {
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    height: 70px;
    line-height: 70px;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    top: 0px;
    z-index: 999;
}

.header .header-logo {
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    float: left;
    margin-left: 30px;
}

.header .header-menu {
    float: right;
    margin-right: 30px;
}

.header .header-menu a {
    margin-right: 15px;
    color: #ffffff;
}

.header .header-menu a:hover {
    color: #bdc3c7;
}

.banner {
    margin-top: -20px;
}

.banner .banner-img {
    position: relative;
}

.banner .banner-content {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 15%;
}

.banner .banner-content h1,
.banner .banner-content h2 {
    color: #2c3e50;
}

.icon {
    font-size: 20px;
    text-align: center;
}

.about .about-single-element {
    text-align: center;
}

.about .about-single-element p {
    text-align: left;
    margin-top: 20px;
}

.title {
    text-align: center;
}

.footer .contact-title {
    font-size: 16px;
    text-align: center;
    font-weight: 700;
}

#send_email {
    margin-top: 20px;
}